<div class='row' style='width: 100%;'>
    <div class='col-6'>
        <ul class='custom'>
            <li class='custom checkmark'>Climbing</li>
            <li class='custom checkmark'>Portaging</li>
            <li class='custom checkmark'>Swimming</li>
        </ul>
    </div>
    <div class='col-6'>
        <ul class='custom'>
            <li class='custom checkmark'>Skiing</li>
            <li class='custom checkmark'>Skating</li>
            <li class='custom checkmark'>Fishing</li>
        </ul>
    </div>
</div>