/* GENERAL */
html, body {
  font-family: 'Oswald', sans-serif;

  margin: 0;
  padding: 0;
}

section {
  display: block;
  min-height: 100vh;
  overflow-y: hidden;

  transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
  transition-duration: 0ms;
  transform: translate(0px) translateZ(0px);

  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(185,209,217,0.25) 50%, rgba(255,255,255,1) 100%); 
}

.content-wrapper:not(.container) {
  height: 100%;
  width: 100%;
}

.fade-in {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: white;
}

a:hover {
  text-decoration: none;
}

.title {
  font-family: 'Pushster', cursive;
  font-style: bold;
  text-decoration: underline;  
}

/* LANDING SECTION */
section#landing {
  background: black;
  height: 100vh;
}

.landing-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
  animation: imageAnimation 50s linear infinite;
  opacity: 0;
}

#landing-header {
  z-index: 1;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#landing-header h1 {
  text-shadow: 0px 0px 20px rgba(100, 100, 100, 1);
}

.landing-image.one {
  background-image: url(https://res.cloudinary.com/dkvqve4ln/image/upload/v1582779157/encouragemint/landing/fomef_green_mint_5k-wallpaper-1920x1200_lwf2b5.jpg);
}
.landing-image.two {
  background-image: url(https://res.cloudinary.com/dkvqve4ln/image/upload/v1582809308/encouragemint/landing/lemon_and_mint-wallpaper-1920x1200_vaqvwo.jpg);
  animation-delay: 10s;
}
.landing-image.three {
  background-image: url(https://res.cloudinary.com/dkvqve4ln/image/upload/v1582809310/encouragemint/landing/bruschetta_topped_with_tomato_parmesan_basil-wallpaper-1920x1200_gzykpq.jpg);
  animation-delay: 20s;
}
.landing-image.four {
  background-image: url(https://res.cloudinary.com/dkvqve4ln/image/upload/v1582809307/encouragemint/landing/fresh_green_mint_leaves-wallpaper-1920x1200_i0uf6s.jpg);
  animation-delay: 30s;
}
.landing-image.five {
  background-image: url(https://res.cloudinary.com/dkvqve4ln/image/upload/v1582779046/encouragemint/landing/shutterstock_609086588-1200x784_tcbstg.jpg);
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* ABOUT SECTION */
section#about .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

section#about .content-wrapper > .row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section#about .row .column {
  width: 45%;
}

section#about .row .column .title {
  height: 10%;

  text-align: center;
}

section#about .row .column .content {
  height: 90%;
}

section#about .row .column .about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#about .row .column .services-content {
  /* overflow-y: scroll; */
  display: block;
  margin: auto;
}

section#about .services-column table {
  margin: auto;
}

/* >= md */
@media only screen and (min-width : 992px) {
  section#about .row .column .services-content {
    width: 75%;
  }
}

/* sm to md */
@media only screen and (min-width : 768px) and (max-width : 992px) {
  section#about .row .column .services-content {
    width: 85%;
  }
}

/* <= sm */
@media only screen and (max-width : 768px) {
  section#about .row .column {
    width: 75%;
  }

  section#about .row .column .services-content {
    width: 100%;
  }

  section#about .content-wrapper > .row {
    flex-direction: column;
  }

  section#about .content-wrapper {
    position: static;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

hr.vertical {
  height: 100%;
  width: 1px;

  margin-left: 0;
  margin-right: 0;
}

hr.tapered {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.tapered.vertical {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* TEAM SECTION */
#team .title {
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: end;
}

/* Member Cards */
.member-info-column {
  margin: auto 0 auto 0.5rem;
}

.card {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(247,249,249,1) 0%, rgba(237,243,245,1) 50%, rgba(247,249,249,1) 100%);

  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(231, 231, 231, 0.2);

  color: #333;
}

.card:hover {
  cursor: pointer;
  
  -webkit-animation: shadow_on_hover 0.2s linear forwards;
  animation: shadow_on_hover 0.2s linear forwards;

  transition: box-shadow 100ms ease-in;
}

@-webkit-keyframes shadow_on_hover {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, 0.6);
  }
}

@keyframes shadow_on_hover {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, 0.6);
  }
}

.card img,
.modal img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.card p,
.modal p {
  text-align: center;
  margin: 1rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.card span,
.modal span {
  font-size: 0.75rem;
  font-style: italic;
}

#modal .modal-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}